<div class="signup-component">
    <div class="row">
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <div class="col-75">
        <div class="container">
            <div class="row">
              <div class="col-50">
                <h3>Registration form</h3>
                <label for="fname"><i class="fa fa-user"></i> First Name</label>
                <input formControlName="fname" type="text" id="fname" placeholder="John" class="textbox"
                [ngClass]="{ 'is-invalid': submitted && f['fname'].errors }"/>
                <div *ngIf="submitted" class="sr-field-error">
                <div *ngIf="f['fname'].errors && f['fname'].errors['required']">FirstName is required</div>
                </div>
                <label for="Lastname"><i class="fa fa-envelope"></i> Last Name</label>
                <input formControlName="lname" type="text"
                id="lname"
                placeholder="sibin"
                autocomplete="cardholder"
                class="textbox"
                [ngClass]="{ 'is-invalid': submitted && f['lname'].errors }"/>
                 <div *ngIf="f['lname'].touched && f['lname'].invalid || f['lname'].untouched && submitted" class="sr-field-error">
                 <div *ngIf="f['lname'].errors && f['lname'].errors['required']">Last Name is required.</div>
                 <div *ngIf="f['lname'].errors && f['lname'].errors['lname']">Please, enter valid LastName.</div>
                </div>
  
                <label for="adr"><i class="fa fa-address-card-o"></i> Address</label>
                <input formControlName="address" type="text"
                id="address"
                placeholder="542 W. 15th Street"
                autocomplete="cardholder"
                class="textbox"
                [ngClass]="{ 'is-invalid': submitted && f['address'].errors }"/>
                 <div *ngIf="f['address'].touched && f['address'].invalid || f['address'].untouched && submitted" class="sr-field-error">
                 <div *ngIf="f['address'].errors && f['address'].errors['required']">address is required.</div>
                 <div *ngIf="f['address'].errors && f['address'].errors['address']">Please, enter valid address.</div>
                </div>
  
                <label for="city"><i class="fa fa-institution"></i> City</label>
                <input formControlName="city" type="text"
                id="city"
                placeholder="New York"
                autocomplete="cardholder"
                class="textbox"
                [ngClass]="{ 'is-invalid': submitted && f['city'].errors }"/>
                 <div *ngIf="f['city'].touched && f['city'].invalid || f['city'].untouched && submitted" class="sr-field-error">
                 <div *ngIf="f['city'].errors && f['city'].errors['required']">city is required.</div>
                 <div *ngIf="f['city'].errors && f['city'].errors['city']">Please, enter valid city.</div>
                </div>
  
                <label for="Postalcode"><i class="fa fa-institution"></i> Postal Code</label>
                <input formControlName="postalcode" type="text" id="postalcode" placeholder="M8T3JK" autocomplete="cardholder" class="textbox"
                 [ngClass]="{ 'is-invalid': submitted && f['postalcode'].errors }"/>
                 <div *ngIf="f['postalcode'].touched && f['postalcode'].invalid || f['postalcode'].untouched && submitted" class="sr-field-error">
                 <div *ngIf="f['postalcode'].errors && f['postalcode'].errors['required']">postalcode is required.</div>
                 <div *ngIf="f['postalcode'].errors && f['postalcode'].errors['postalcode']">Please, enter valid postalcode.</div>
                </div>
                   
              </div>

            <button mat-button class="btn" [disabled]="!signupForm.valid" >Submit</button>
            <div class="sr-field-error" id="card-errors" role="alert"></div>
           </div> 
        </div>
      </div>
    </form>
    </div>
  </div>
